/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 30 de set. de 2022, 08:25:27
    Author     : Mágila Morgana S. Ferreira
*/
body {
    margin: 0;
    padding: 0;
    background-color: #030303;
    color: #f0f0f0;
}
h1, h3 {
    color:#aacaff;
    text-align: center;
}
h3 {
    margin: 50px 0 0 0;
}
h1, h5, div {
    text-align: center;
}
div {
    font-size: 20px;
}
p {
    text-align: justify;
    padding: 0 50px;
}
em {
    color: red;
}
input {
    min-width: 300px;
}
label {
    margin-right: 15px;
}
button {
    background: blue;
    color: white;
    min-width: 40px;
    min-height: 30px;
    border-radius: 5px;
}
#nome {
    margin-left: 21px;
    margin-bottom: 20px;
}
#questao7 {
    display: flex;
}
#btQuestao7 {
    margin: 10px 0 0 360px;
}
form, aside {
    width: 50%;
    text-align: left;
}
span {
    margin-left: 20px;
    font-size: 16px;
}
#exibeNome {
    margin-left: 40px;
}
.formUser {
    margin: 30px;
    padding: 30px;
    border: #fff solid 2px;
}
#formUser {
    display: none;
}
